.robotobold {
    color:Navy;font-weight:bold;font-size:24pt; font-family:arial;
    text-align: center;
}
.robotoregular {
    color: #000;
    text-align: center;
    font-family: verdana, arial, sans-serif;
font-size: 11px;
font-weight: normal;
}

* html #left-shadow-fade {
    background-image:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src=images/left-side-shadow.png);
}
* html #right-shadow-fade {
    background-image:none;
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src=images/right-side-shadow.png);
}
* html #nav-top #header-top #header-png {
    background-image:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src=images/nav-bar-overlay.png);
}
* html #nav-top #navcontainer div a:link, 
* html #nav-top #navcontainer div a:active, 
* html #nav-top #navcontainer div a:visited {
    background-image:none;
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src=images/nav-background.png);
}
a {

  font-weight: bold;
color: rgb(92, 92, 92);
font-style: normal;
text-decoration: none;
background-color: rgb(255, 255, 255);
}

a:hover { color: #BA0707; }


nav {
  display: block;
  background: transparent;
}

.menu {display: block;
    margin: 0;
    padding: 0;}

.menu li {
display: inline-block;
    margin: 0;
    position: relative;
    z-index: 100;
}

.menu li:first-child { margin-left: 0; }

.menu li a {
 background-color: rgb(255, 174, 0);
    background-image: url("images/nav-background.png");
    background-repeat: repeat-x;
    border-right: 1px solid #d2d2d2;
    color: #000;
    display: block;
    font-family: arial,verdana,sans-serif;
    font-size: 12px;
    height: 28px;
    padding: 8px;
}

.menu li a:hover,
.menu li:hover>a {
background-color: rgb(255, 255, 255);
}

.menu ul {
  visibility: hidden;
  opacity: 0;
  margin: 0;
  padding: 0;
  width: 170px;
  position: absolute;
  left: 0px;
  background: #fff;
  z-index: 99;
  transform: translate(0, 20px);
  transition: all 0.2s ease-out;
}

.menu ul:after {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #fff;
  border-width: 6px;
  margin-left: -6px;
}

.menu ul li {
  display: block;
  float: none;
  background: none;
  margin: 0;
  padding: 0;
}

.menu ul li a {
  font-size: 12px;
  font-weight: normal;
  display: block;
  color: #797979;
  background: #fff;
}

.menu ul li a:hover,
.menu ul li:hover>a {
/*  background: #FC6D58;
  color: #fff;*/
}

.menu li:hover>ul {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.menu ul ul {
  left: 169px;
  top: 0px;
  visibility: hidden;
  opacity: 0;
  transform: translate(20px, 20px);
  transition: all 0.2s ease-out;
}

.menu ul ul:after {
  left: -6px;
  top: 10%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #fff;
  border-width: 6px;
  margin-top: -6px;
}
.menu .sub-menu a {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #d2d2d2;
    font-weight: bold;
    padding: 14px 14px 5px;
    width: 150px;
}
.menu li>ul ul:hover {
  visibility: visible;
  opacity: 1;
  transform: translate(0, 0);
}

.responsive-menu {
  display: none;
  padding: 20px 0;
  background: #fff;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
}

.responsive-menu:hover {
  background: #fff;
  color: #000;
  text-decoration: none;
}
#contact-slogan {

    background-color: #efefef;
    display: inline-block;
    width: 100%;
    line-height: 43px;
    font-family: arial, verdana, sans-serif;
font-size: 14px;

color: rgb(153, 0, 0);
font-style: normal;
text-decoration: none;
}
a.homer { background: #FC6D58; }
 @media (min-width: 768px) and (max-width: 979px) {

.mainWrap { width: 768px; }

.menu ul { top: 37px; }

.menu li a { font-size: 12px; }

a.homer { background: #E95546; }
}
/*mobile*/
@media only screen and (min-width: 320px) and (max-width: 479px) {
    #colbody1 {
        margin: -10px;
    }
* {

    overflow-x: hidden;

}
         #accent img {
         height: 87px !important;
width: 390px !important;
margin-left: -16px;
     }
     #right-shadow-fade {
     display:none;
     }
     #contact-slogan {
             width: 59%;
             padding: 7px;
     }
     #inner {
    width: 400px;
     }
     .clearer {
         width: 400px;
     }
     #nav-top #header-top #header-png {

    width: 400px;
     }
     #body_pgbldblk5 {
     width: 357px;
     }
     #body_pgbldblk92 {
     width: 342px;
     }
     #body_pgbldblk26 {
         width: 50%;
     }  
     #body_pgbldblk87 {
     width: 338px;
     }
     #body_pgbldblk36 {
     width: 343px;
     }
     #body_pgbldblk97 {
          width: 343px;
     }
     #body_pgbldblk17 {
          width: 338px;
     }
     #body_pgbldblk31 {
         width: 324px;
     }
     #body_pgbldblk21 {
     width: 346px;
     }
     #other_footer {
         width: 339px;
     }
}

 @media (max-width: 767px) {

          #left-shadow-fade {
         display: none;
     }
     #nav-top #logo-holder {

    width: 328px;
     }
     #resp-menu {
position: absolute;
top: -107px;
left: 303px;
background-color: #850b0b;
padding: 10px;
border-radius: 8px;
margin-right: 146px;
color: #fff;
font-size: 24px;
}
	 .menu .sub-menu a {
    border-right:none;
    border-bottom: 1px solid #d2d2d2;
    width: 100%;}
.menu li a{border-bottom: 1px solid #d2d2d2;border-right:none;}
.mainWrap {
  width: auto;
  padding: 50px 20px;
}

.menu { display: none; }

.responsive-menu { display: block; }


nav {
  margin: 0;
  background: none;
}

.menu li {
  display: block;
  margin: 0;
}

.menu li a {
  background: #fff;
  color: #797979;
}

.menu li a:hover,
.menu li:hover>a {
/*  background: #FC6D58;
  color: #fff;*/
}

.menu ul {
  visibility: hidden;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  transform: initial;
}

/*.menu li:hover>ul {
  visibility: visible;
  opacity: 1;
  position: relative;
  transform: initial;
}*/

.menu ul ul {
  left: 0;
  transform: initial;
}

.menu li>ul ul:hover { transform: initial; }
}